@import "paginaGeneral.css";

.contenedorFormulario{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color:  #F2E3D5;
  border-left: #495F73 4px solid;
  border-right: #495F73 4px solid;
  padding: 35px;
}

.formulario{
  border: 1px solid #495F73;
  display: flex;
  flex-direction: row;
  font-family: Rockwell;
}

.contenedorNombre{
  margin: 30px;
}

.contenedorCategorias{
  margin: 30px;
}

.formularioIzquierda{
  flex-basis: 50%;
}

#Nombre{
  margin-left: 14px;
}

.formularioCentro{
  flex-basis: 40%;
  display: flex;
  align-items: center;
}

.contenedorDia{
  margin: 15px;
}

.contenedorMes{
  margin: 15px;
}

.formularioDerecha{
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

select{
  background-color: white;
  border-color: #495F73;
  height: 30px;
  color: #495F73;
  font-family: Rockwell;
  border-radius: 5px;
}

#comboBoxCategorias{
  width: 150px;
}

#comboBoxDia{
  width: 50px;
}

input{
  border-color: #495F73;
  color: #495F73;
  height: 30px;
  width: 150px;
}

main > article {
  border-top: #495F73 4px solid;
  padding: 0px;
}

article > section{
  display: flex;
  flex-direction: column;
  background-color: #A3B2BE;
  padding: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.secciones{
  display: flex;
  flex-direction: row;
}

.seccionIzquierda{
  margin-top: 25px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.seccionIzquierda > ul{
  list-style: none;
}

.seccionDerecha{
  margin-top: 25px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.seccionDerecha > a{
  text-align: right;
}

button{
  border-color: #495F73;
  color: #495F73;
  font-size: 16px;
  margin-top: 10px;
  padding: 7px 15px;
  border: 1px solid #495F73;
  border-radius: 5px;
  font-family: Rockwell;
}

/*para tabletas*/
@media screen and (max-width: 1023px){

  .formulario{
    border: 1px solid #495F73;
    display: flex;
    flex-direction: column;
    font-family: Rockwell;
  }

  .formularioIzquierda{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
  }

  .contenedorNombre{
    margin: 15px;
    margin-left: auto;
  }

  .contenedorCategorias{
    margin: 15px;
    margin-right: auto;
  }

  #Nombre{
    margin-left: 0px;
  }

  .formularioCentro{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
  }

  .contenedorDia{
    margin: 15px;
    margin-left: auto;
  }

  .contenedorMes{
    margin: 15px;
    margin-right: auto;
  }

  .formularioDerecha{
    flex-basis:auto;
    display: flex;
    align-items: center;
  }

}
