*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{

  font-family: Arial, Verdana, Geneva, sans-serif;
  background-color: #F2E3D5;
  display: flex;
  flex-direction: column;
}

.navegacionPrincipal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#botonHamburguesa {
    display: none;
    height: 40px;
    width: 40px;
    background-color: #F2E3D5;
    cursor: pointer;
    outline: none;
    border: 0px;
    margin-bottom: 5px;
}
#botonHamburguesa > i{
  font-size: 40px;
  color: #495F73;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.menuPrincipal{
  grid-column: 3/11;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #734E39;
}

.menuPrincipal > li{
  position: relative;
  display: inline-block;
  border: black 1px solid;
}

.menuPrincipal > li > a{
  font-family: Rockwell;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  color: #F2E3D5;
  display: block;
}

.menuPrincipal li a:hover{
  color: #BFA393;
  transition: all .3s;
}

/*Submenu*/

.submenuPrincipal{
  position: absolute;
  background-color: #BFA393;
  width: 100%;
  list-style: none;
  display: none;
}

.submenuPrincipal li a{
  display: block;
  padding: 10px;
  color: #000000;
  font-size: 18px;
  border: black 1px solid;
  text-decoration: none;
}

.submenuPrincipal li a:hover{
  color: #495F73;
  transition: all .3s;
}

.menuPrincipal li:hover .submenuPrincipal{
  display:block;
}
