*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body{
  /*width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 218px 77px 600px;*/
  background: #F2E3D5;
  font-family: Arial, Verdana, Geneva, sans-serif;
}
.menuPrincipal{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  border: black 1px solid;

}
.menuPrincipal > li {
  text-align: center;
  padding: 15px 20px;
}
.menuPrincipal > li > a {
    text-decoration: none;
}
.menuInformacion {
  grid-column: 3/5;
}
.menuQueVer {
  grid-column: 5/7;
}

.menuQueHacer {
  grid-column: 7/9;
}
.menuGaleria {
  grid-column: 9/11;
}
/*.portada{
  width: 100vw;
  height: 600px;
  grid-column: 1/13;
  grid-row: 3/4;
}*/

/*.menuPrincipal{
  display: grid;
  grid-template-columns: auto auto auto auto;
}*/
