@import "paginaGeneral.css";

header{
  height: 150px;
  position: relative;
  display: inline-block;
  text-align: center;
  border: black solid 1px;
  margin: 0px;
}
header > p{
  font-size: 70px;
  color: #495F73;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header > figure > img{
  opacity: 0.5;
}


main{
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: black 1px solid;
}
.lado1{
  margin: 0px;
  grid-column: 1/3;
  background-color: #BFA393;
  border: #495F73 4px solid;
}
article{
  margin: 0px;
  grid-column: 3/11;
  border: #495F73 4px solid;
  padding: 30px 100px;
}
article > section > h3{
  background-color: #495F73;
  border: #BFA393 1px solid;
  color: #F2E3D5;
  padding: 15px 5px;
  font-size: 14px;
}

article > section > figure{
  background-color: #A3B2BF;
  border: #495F73 1px solid;
  padding: 8px;
  font-size: 14px;
}
.lado2{
  margin: 0px;
  grid-column: 11/13;
  background-color: #BFA393;
  border: #495F73 4px solid;

}
