@import "paginaGeneral.css";

main > article{
  padding: 30px 100px;
}

.pregunta > h3{
  background-color: #495F73;
  border: #BFA393 1px solid;
  color: #F2E3D5;
  padding: 15px 5px;
  font-size: 14px;
  cursor: pointer;
}
.respuesta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;

}
.respuesta > p{
  background-color: #A3B2BF;
  border: #495F73 1px solid;
  font-size: 14px;
  transition: max-height 1.4s ease;
  padding: 8px;

}

section.active .respuesta{
  max-height: 300px;

}

/*para tabletas*/
@media screen and (max-width: 1023px){

  article{
    border: #495F73 2px solid;
    padding: 30px 60px;
  }
  article > section > h3{
    padding: 12px 3px;
    font-size: 12px;
  }
  article > section > figure{
    padding: 6px;
    font-size: 12px;
  }
}
/*para móviles*/
@media screen and (max-width: 767px){
  main > article{
    border: 0px;
    padding: 30px 30px;
  }
  article > section > h3{
    padding: 10px 3px;
    font-size: 11px;
  }
  article > section > figure{
    padding: 4px;
    font-size: 11px;
  }
}
