@import "paginaGeneral.css";

article{
  margin: 0px;
  border: #495F73 4px solid;
  padding: 30px 100px;
  grid-column: 3/11;
}

article > section > h3{
  background-color: #495F73;
  border: #BFA393 1px solid;
  color: #F2E3D5;
  padding: 15px 5px;
  font-size: 14px;
}

article > section > p{
  background-color: #A3B2BF;
  border: #495F73 1px solid;
  padding: 8px;
  font-size: 14px;
}

/*para tabletas*/
@media screen and (max-width: 1023px){

  article{
    border: #495F73 2px solid;
    padding: 30px 60px;
  }
  article > section > h3{
    padding: 12px 3px;
    font-size: 12px;
  }
  article > section > figure{
    padding: 6px;
    font-size: 12px;
  }
}
/*para móviles*/
@media screen and (max-width: 767px){
  article{
    grid-column: 1/13;
    border: #495F73 1px solid;
    padding: 30px 30px;
  }
  article > section > h3{
    padding: 10px 3px;
    font-size: 11px;
  }
  article > section > figure{
    padding: 4px;
    font-size: 11px;
  }
}
