@import "paginaGeneral.css";

article{
  padding: 60px;
  grid-column: 3/11;
}

.contenidoQueVer{
  display: flex;
}

section{
  margin-bottom: 30px;
}

section > h2{
  font-size: 18px;
  padding: 7px;
  display: list-item;
  list-style-type: disc;
}

.contenidoQueVer > figure{
  margin: 10px;
}

.contenidoQueVer > p{
  text-align: justify;
  margin: 10px;
  font-size: 14px;
}

/*Tamaño tablets*/
@media screen and (max-width: 1023px){
  .contenidoQueVer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px){
  main{
    display: flex;
    flex-direction: column;
  }
}
