@import "paginaGeneral.css";

article{
  padding: 80px;
}

.contenidoQueVer{
  display: flex;
}

section > h2{
  font-size: 18px;
  padding: 7px;
  display: list-item;
  list-style-type: disc;
}

.contenidoQueVer > figure{
  margin: 10px;
}

.contenidoQueVer > p{
  text-align: justify;
  margin: 10px;
  font-size: 14px;
}
