@import "paginaGeneral.css";

.contenedorFormulario{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color:  #F2E3D5;
  border-left: #495F73 4px solid;
  border-right: #495F73 4px solid;
  padding: 35px;
}

.formulario{
  border: 1px solid #495F73;
  display: flex;
  flex-direction: row;
  font-family: Rockwell;
  align-items: center;
}

.formularioIzquierda{
  flex-basis: 40%;
  display: flex;
  align-items: center;
}

select{
  background-color: white;
  border-color: #495F73;
  height: 30px;
  color: #495F73;
  font-family: Rockwell;
  border-radius: 5px;
}

.contenedorDia{
  margin: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#comboBoxDia{
  width: 50px;
}

.contenedorMes{
  margin: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.formularioDerecha{
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.contenedorIdiomas{
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

#comboBoxIdiomas{
  width: 150px;
}

#Buscar{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

input{
  border-color: #495F73;
  color: #495F73;
  height: 30px;
  width: 150px;
}

main > article {
  /*border-top: #495F73 4px solid;*/
  padding: 100px;
}

article > section{
  display: flex;
  flex-direction: column;
  background-color: #A3B2BE;
  /*border-bottom: #495F73 4px solid;*/
  /*padding: 25px;
  padding-right: 50px;
  padding-left: 50px;*/
}

.Titulo{
  margin-bottom: 20px;
  font-size: 18px;
}

.secciones{
  display: flex;
  flex-direction: row;
  border: 1px solid #495F73;
  margin-bottom: 25px;
}

.seccionIzquierda{
  /*margin-top: 25px;*/
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

.seccionIzquierda > ul{
  list-style: none;
}

.seccionIzquierda > ul >li{
  list-style: none;
  /*margin-bottom: 15px;*/
}

.seccionDerecha{
  /*margin-top: 25px;
  margin-left: 20px;*/
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: 0px;
}

.seccionDerecha > p{
  margin-bottom: 6px;
}

.seccionDerecha > a{
  text-align: right;
}

button{
  border-color: #495F73;
  color: #495F73;
  font-size: 16px;
  margin-top: 10px;
  padding: 7px 15px;
  border: 1px solid #495F73;
  font-family: Rockwell;
}

/*para tabletas*/
@media screen and (max-width: 1023px){

  .contenedorFormulario{
    width: 80%;
    max-width: 80%;
  }

  .formulario{
    border: 1px solid #495F73;
    display: flex;
    flex-direction: column;
    font-family: Rockwell;
  }

  .contenedorDia{
    margin-right: 15px;
    margin-left: auto;
  }

  .contenedorMes{
    margin-left: 15px;
    margin-right: auto;
  }

  .contenedorIdiomas{
    margin-right: 15px;
    margin-left: auto;
  }

  #Buscar{
    margin: 15px;
    margin-right: auto;
  }

  /*.formularioIzquierda{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
  }

  .contenedorNombre{
    margin: 15px;
    margin-left: auto;
  }

  #Nombre{
    margin-left: 0px;
  }

  .formularioCentro{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
  }

  .formularioDerecha{
    flex-basis:auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }*/

  main > article {
    max-width: 80%;
    width: 80%;
  }

}

/*para móviles*/
@media screen and (max-width: 767px){

  .contenedorFormulario{
    width: 100%;
    max-width: 100%;
  }

  main > article {
    max-width: 100%;
    width: 100%;
  }

}

@media screen and (max-width: 600px){

  .secciones{
    flex-direction: column;
  }

  .seccionIzquierda{
    flex-basis: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .seccionDerecha{
    margin-left: 10px;
  }

}
